{sub_dirs, ["rel"]}.
{cover_enabled, true}.
{lib_dirs,["deps"]}.
{deps, [
    {mochiweb, ".*", {git, "https://github.com/mochi/mochiweb.git", "master"}},
    {erlsha2,  ".*", {git, "git://github.com/vinoski/erlsha2.git",  "master"}},
    {json,     ".*", {git, "https://github.com/davisp/eep0018.git", "master"}}
]}.

